<!doctype html>
<html class="bg-base-200" lang="en">
  <head>
    {{ include "meta.vto" }}
  </head>
  <body class="min-h-screen text-base-content font-normal flex flex-col max-w-[1200px] mx-auto">
    {{ include "header.html" }}
    <main class="w-full mx-12 sm:mx-24 max-w-[calc(100%-6rem)] sm:max-w-[calc(100%-12rem)]">
      {{ content }}
    </main>
    {{ include "footer.vto" }}
  </body>
</html>
