---
layout: base.njk
---
<h1>
  {{ title if title else "Results for <strong>{{ term | upper }}" }}
</h1>

<div class="cards stack">
  {%- for post in posts -%}
    {{ comp.card({ title: post.title, description: post.description, icon: post.type, url: post.url }) | safe }}
  {%- endfor -%}
</div>

<div class="center margin-xlarge-vertical">
  <a class="font-size-subheading" href="/lead-with-joy">← Back to the Hub</a>
</div>