<header class="hidden-print-only">
  <div class="nav center-responsive">
    <div class="center push-left full-width-mobile-only">
      <a class="nav-name push-left" href="/">CHARLES BURGESS</a>
      <img
        src="/img/icons/menu.svg"
        class="mobile-only nav-icon"
        alt="menu icon"
        onClick="toggleMenu()"
        height="16px"
        width="16px"
/>
    </div>
    <hr class="mobile-only hidden"/>
    <a class="nav-link padding-medium hidden-mobile-only" href="/lead-with-joy"
      >LEAD WITH JOY</a
    >
    <a class="nav-link padding-medium hidden-mobile-only" href="/contact">CONTACT</a>

    <a class="nav-link padding-medium hidden-mobile-only" href="/search">
      <img class="nav-icon" height="18" src="/img/icons/search.svg"/>
    </a>
  </div>
</header>

<script>
  function toggleMenu() {
    const header = document.getElementsByTagName("header")[0];
    const divider = document.getElementsByTagName("hr")[0];
    const navLinks = document.getElementsByClassName("nav-link");

    divider
      .classList
      .toggle("hidden");

    for (link of navLinks) {
      link
        .classList
        .toggle("hidden-mobile-only");
    }
  }
</script>

<script>
  function addInteractivity() {
    const clickables = document.getElementsByClassName("clickable");
    for (clickable of clickables) {
      const url = clickable.getAttribute("data-href");
      const isExternal = url.startsWith("http");
      if (url) {
        clickable.addEventListener("click", () => window.open(
          url, isExternal
          ? "_blank"
          : "_self"));
      }
    }
  }
</script>