---
layout: base.njk
---
<link rel="stylesheet" href="/css/post.css"/>

<div>
  <h1 class="title">{{ title }}</h1>
  <div class="center no-wrap">
    <span class="line outer-line"></span>
    <img class="line post-icon no-shadow" src="/img/icons/{{ type }}.svg" aria-hidden="true" alt="{{ type }} icon"/>
    <span class="line outer-line"></span>
  </div>
</div>

<div class="post">

  {% if videoId %}
    <div class="video-player">
      <iframe src="https://www.youtube-nocookie.com/embed/{{ videoId }}" frameborder="no" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  {% endif %}

  {% if episodeId %}
    <div class="podcast-player">
      <iframe frameborder="no" scrolling="no" src="https://player.captivate.fm/episode/{{ episodeId }}"></iframe>
    </div>
  {% endif %}

  {% if toc.length %}
    <nav class="post-nav">
      <ol>
        {% for item in toc %}
          <li>
            <a href="#{{ item.slug }}">{{ item.text }}</a>
            {% if item.children.length %}
              <ul>
                {% for child in item.children %}
                  <li>
                    <a href="#{{ child.slug }}">{{ child.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </nav>
  {% endif %}

  <div class="post-content">
    {{ content | safe }}
  </div>

</div>

{% set searchTerm = [title, tags] | searchTags %}
{% set relatedPosts = search.pages(searchTerm, "date", 3) %}

{% if relatedPosts | length %}
  <h1 class="title">Dive a little deeper</h1>
  <p class="subtitle">Related posts, videos, and podcast episodes</p>

  <div class="cards stack">
    {%- for post in relatedPosts -%}
      {{ comp.card({ title: post.title, description: post.description, icon: post.type, url: post.url }) | safe }}
    {%- endfor -%}
  </div>
{% endif %}

<div class="center margin-xlarge-vertical hidden-print-only">
  <a class="margin-medium font-size-subheading" href="/lead-with-joy">← Back to the Hub</a>
  <span class="margin-medium hidden-mobile-only font-size-subheading"> • </span>
  <a class="margin-medium font-size-subheading" href="{{ metadata.repoUrl }}/blob/main/src{{ inputPath }}">Suggest an Edit on GitHub</a>
</div>

<div class="print-only center margin-medium">
  <p>Charles Burgess © 2025</p>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        const id = entry
          .target
          .getAttribute('id');
        if (entry.intersectionRatio > 0) {
          document
            .querySelector(`nav li a[href="#${id}"]`)
            .classList
            .add('active');
        } else {
          document
            .querySelector(`nav li a[href="#${id}"]`)
            .classList
            .remove('active');
        }
      });
    });

    // Track all sections that have an `id` applied
    document
      .querySelectorAll('h1[id], h2[id], h3[id], h4[id]')
      .forEach((heading) => {
        observer.observe(heading);
      });

  });
</script>