/* Responsive grid with three columns */
.cards > * {
  margin-top: var(--spacing-large);
}

.card {
  display: flex;
  background-color: var(--background-contrast);
  border: solid 6px var(--background-contrast);
  overflow: hidden;
  container: card / inline-size;
  padding: var(--spacing-xlarge);
  margin: var(--spacing-medium);
}

.card:hover {
  box-shadow: var(--shadow-hover);
  transition: all 200ms ease-in-out;
}

.card-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.card a {
  font-family: var(--font-family-heading);
}

.card a:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
}

.card .card-details {
  flex: 1;
  margin: 0px 0px 0px var(--spacing-xlarge);
  line-height: 1.5;
}

.card .card-title {
  font-size: var(--font-size-heading-2);
}

.card .button {
  width: 100px;
  margin-top: 0;
}

.card .button > a > span {
  width: auto;
}

.card p {
  margin-top: var(--spacing-medium);
  text-wrap: pretty;
}

.preview-url {
  font-weight: var(--medium);
  color: var(--primary);
}

/* ---------- RESPONSIVE ----------  */

@media (max-width: 600px) {
  .card {
    padding: var(--spacing-xlarge) var(--spacing-large);
    margin: var(--spacing-medium) 0;
  }
}

@container card (max-width: 600px) {
  .card-container {
    display: block;
    text-align: center;
  }

  .card img {
    height: 50px;
    width: 50px;
  }

  .card .card-details {
    margin: var(--spacing-large) 0px 0px 0px;
  }

  .card .tags {
    display: none;
  }

  .card-details > p {
    margin-top: var(--spacing-medium);
  }

  .card .button {
    width: calc(100% - var(--spacing-xlarge));
    padding: 0;
    margin: 0;
    display: block;
  }

  .card .button > a > span {
    width: 100%;
  }
}

/* ---------- SMALL CARD MODE ----------  */

.cards.small {
  flex-wrap: wrap;
  container: small / inline-size;
}

.cards.small .card .card-title {
  font-size: var(--font-size-heading-4);
}

.cards.small .card {
  min-width: 160px;
  padding: var(--spacing-large);
  text-wrap: nowrap;
}

.cards.small .card .card-details {
  /*  optical offset */
  margin-top: var(--spacing-medium);
}

@container small (max-width: 560px) {
  .cards.small .card {
    width: 100%;
  }
}

@container small (max-width: 1072px) {
  .break-on-wrap {
    flex-basis: 100%;
    height: 0;
    margin: 0;
  }
}

/* ---------- URL PREVIEW COMPONENT ----------  */

.preview.card {
  margin: var(--spacing-xlarge) 0;
  font-size: var(--font-size-small);
}

.preview .card-title {
  font-size: var(--font-size-heading-3);
}

.preview.card img {
  margin: 0;
  width: 200px;
  height: 150px;
  object-fit: cover;
}
