.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  white-space: nowrap;
  padding: var(--spacing-medium) var(--spacing-large);
  margin: var(--spacing-large) var(--spacing-medium) var(--spacing-large) 0;
  border: var(--border);
  border-radius: 100px;
  /* font-weight: var(--bold); */
  text-transform: uppercase;
  color: var(--primary);
  line-height: 2.5;
}

.tag:hover {
  color: var(--background);
  background-color: var(--primary);
}

a:has(> .tag):hover {
  text-decoration: none;
}

/* ---------- COLOR VARIATIONS ----------  */

.tag.accent-green {
  color: var(--accent-green);
  border-color: var(--accent-green);
}
.tag.accent-green:hover {
  color: var(--background);
  background-color: var(--accent-green);
}

.tag.accent-purple {
  color: var(--accent-purple);
  border-color: var(--accent-purple);
}
.tag.accent-purple:hover {
  color: var(--background);
  background-color: var(--accent-purple);
}

.tag.accent-blue {
  color: var(--accent-blue);
  border-color: var(--accent-blue);
}
.tag.accent-blue:hover {
  color: var(--background);
  background-color: var(--accent-blue);
}
