footer {
  background-color: var(--background-contrast);
  color: var(--subtext);
  border-radius: var(--bulging-border);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: var(--spacing-xxlarge);
  padding: var(--spacing-xlarge);
  padding-bottom: var(--spacing-small);
  text-align: center;
  box-shadow: var(--shadow);
}

footer h2 {
  margin: 0 0 var(--spacing-medium) 0;
  font-size: 1.75rem;
}

footer a {
  color: var(--primary);
}

.footer-main-container {
  max-width: var(--desktop-max-width);
  margin: var(--spacing-medium) auto 0px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: var(--spacing-large);
  grid-auto-flow: dense;
}

.copyright {
  margin: var(--spacing-large);
  text-wrap: nowrap;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  footer {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
