header {
  font-weight: var(--black);
  font-family: var(--font-family-heading);
  background-color: var(--primary);
  border-radius: var(--bulging-border);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

header img {
  cursor: pointer;
  margin-bottom: 2px;
}

header a {
  color: var(--background-contrast);
}

header .nav {
  margin: 0px auto;
  padding: var(--spacing-large) var(--spacing-xxlarge);
  max-width: var(--desktop-max-width);
}

header .nav-name {
  font-size: 2rem;
}

header .nav-link {
  margin-left: var(--spacing-medium);
  font-size: 0.85rem;
}

header .nav-icon {
  filter: invert(100%) sepia(95%) saturate(25%) hue-rotate(312deg) brightness(
    105%
  ) contrast(100%);
}

/* ---------- DARK MODE ---------- */

@media (prefers-color-scheme: dark) {
  header {
    background-color: var(--background-contrast);
  }

  header a {
    color: var(--primary);
  }

  header .nav-icon {
    filter: invert(84%) sepia(29%) saturate(1218%) hue-rotate(323deg)
      brightness(103%) contrast(107%);
  }
}

/* ---------- RESPONSIVE OVERRIDES ---------- */

@media (max-width: 700px) {
  header .nav-name {
    font-size: 1.5rem;
  }

  header .nav-link {
    margin-left: var(--spacing-small);
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  header .nav {
    padding: var(--spacing-large);
  }

  header .nav-name {
    font-size: 1.5rem;
  }

  header .nav-link {
    font-size: 1.2rem;
    margin: 0;
  }
}
