@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui";


:root {
  --color-base-100: #fff;
  --color-base-200: #fbfaf3;
  --color-base-300: oklch(91% 0.018 78.24);
  --color-base-content: #3e3d37;
  --color-primary: #ffbc51;
  --color-primary-content: oklch(41% 0.112 45.904);
  --color-secondary: oklch(27.12% 0.188 264.052);
  --color-secondary-content: oklch(88% 0.059 254.128);
  --color-accent: #a673e6;
  --color-accent-content: oklch(28% 0.141 291.089);
  --color-neutral: oklch(38.84% 0.044 44.12);
  --color-neutral-content: oklch(99% 0.01 78.24);
  --color-info: #55cee0;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #94cc6f;
  --color-success-content: oklch(39% 0.095 152.535);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ff7a5c;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@import url("footer.css");
@import url("header.css");
@import url("utils.css");
@import url("components/card.css");
@import url("components/tags.css");

/* ---------- VARIABLES ---------- */

:root {
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 128px;

  --desktop-max-width: 1200px;

  --roundness: 32px;
  --bulging-border: 50% / 8%;

  --border: 4px solid var(--primary);
  --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  --shadow-hover: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);

  --font-family-heading: "Poppins", sans-serif;
  --font-family-body: "Rubik", sans-serif;
  --font-family-subtext: "Bodoni Moda", serif;
  --regular: 300;
  --medium: 600;
  --bold: 700;
  --black: 800;

  --font-size-small: 0.8rem;
  --font-size-body: 1rem;
  --font-size-heading-1: 3rem;
  --font-size-heading-2: 2rem;
  --font-size-heading-3: 1.6rem;
  --font-size-heading-4: 1.4rem;
  --font-size-subheading: 1.2rem;

  /* ---------- PAGEFIND ---------- */
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--primary);
  --pagefind-ui-text: var(--text);
  --pagefind-ui-background: transparent;
  --pagefind-ui-border: var(--divider);
  /* --pagefind-ui-tag: <color> */
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: var(--roundness);
  /* --pagefind-ui-image-border-radius: 8px; */
  /* --pagefind-ui-image-box-ratio: 3 / 2; */
  --pagefind-ui-font: var(--font-family-heading);

  color-scheme: light dark;
  accent-color: var(--primary);
}

/* ---------- DARK MODE ---------- */

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark light;
    --background: #363530;
    --background-contrast: #44423c;
    --text: #e5e0c1;
    --subtext: #b2af97;
    --divider: rgba(179, 175, 151, 0.25);

    --shadow-hover: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }

  hr {
    border-color: var(--background);
    opacity: 0.1;
  }
}

/* ---------- HTML ELEMENTS ---------- */

body {
  background-color: var(--background);
  color: var(--text);
  line-height: 1.75;
  font-family: var(--font-family-body);
  font-weight: var(--regular);
  word-wrap: break-word;
  margin: 0;
}

main {
  margin: 0px auto;
  padding: 0 var(--spacing-xxlarge);
  max-width: var(--desktop-max-width);
  min-height: calc(100vh - 650px);
}

main > p {
  text-align: center;
  text-wrap: balance;
}

a {
  text-decoration: none;
  font-weight: var(--bold);
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 4px;
}

p a,
li a {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 1px;
  margin-inline: 4px;
}

hr {
  border: 2px solid var(--background);
  opacity: 0.5;
  border-radius: var(--roundness);
  margin: var(--spacing-large) 0;
  width: 100%;
}

mark {
  background-color: #ffbc5154 !important;
  color: var(--text) !important;
  border-radius: 8px !important;
  padding: 0px 8px !important;
}

em {
  font-weight: var(--bold);
  margin-inline: 4px;
  color: var(--accent-green);
}

strong {
  color: var(--accent-green);
  font-weight: var(--bold);
  margin-inline: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: var(--font-family-heading);
  font-weight: var(--bold);
  /* font-family: var(--font-family-body); */
  /* font-weight: var(--black); */
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: var(--font-size-heading-1);
  margin: var(--spacing-xxlarge) 0;
}
h2 {
  font-size: var(--font-size-heading-2);
  margin-top: var(--spacing-xlarge);
  /* margin-bottom: var(--spacing-large); */
}
h3 {
  font-size: var(--font-size-heading-3);
  margin-top: var(--spacing-large);
}
h4 {
  font-size: var(--font-size-heading-4);
  margin-top: var(--spacing-large);
}
h5,
h6 {
  font-size: var(--font-size-heading-4);
}

textarea {
  font-family: var(--font-family-body);
}

li {
  margin-top: var(--spacing-small);
}

/* Auto-scale images to fit sections */
section img {
  max-width: 100%;
  height: auto;
}

input,
select,
textarea {
  box-shadow: none;
  font-size: var(--font-size-body);
  padding: 15px;
  border-radius: var(--roundness);
  color: var(--text);
  border: var(--border);
  background-color: transparent;
  min-height: 20px;
  width: 100%;
}
input,
textarea {
  /* accommodate textarea padding quirk */
  width: calc(100% - 30px);
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

label {
  display: block;
  font-size: var(--font-size-body);
  font-family: var(--font-family-heading);
  text-transform: uppercase;
  font-weight: var(--bold);
  margin: var(--spacing-large) 0 var(--spacing-medium) var(--spacing-medium);
}

button,
submit {
  border: none;
}
button {
  font-size: var(--font-size-body);
  color: var(--primary);
  border-radius: var(--roundness);
  text-transform: uppercase;
  font-weight: var(--bold);
  background-color: var(--background);
  border: var(--border);
  padding: var(--spacing-medium) var(--spacing-large);
  min-height: 20px;
}
button :hover {
  color: var(--background);
  background-color: var(--primary);
}

blockquote {
  border-left: var(--border);
  border-color: var(--accent-green);
  padding-left: var(--spacing-medium);
  margin-left: 0;
  font-style: italic;
  font-weight: var(--black);
  font-size: var(--font-size-heading-3);
  color: var(--accent-green);
}

/* ---------- RESPONSIVE OVERRIDES ---------- */

@media (max-width: 600px) {
  main {
    padding: 0 25px;
  }
}

/* ---------- PAGEFIND OVERRIDES ---------- */

.pagefind-ui__search-input {
  border: var(--border) !important;
}

/* ---------- PAGE-SPECIFIC / MISC ---------- */

.bio p {
  max-width: 430px;
}

/* Based on specific visual wrapping */
@media (max-width: 943px) {
  .bio {
    flex-direction: column-reverse;
  }

  .bio p {
    max-width: unset;
  }
}

@media (max-width: 600px) {
  .podcast-links > * {
    margin: var(--spacing-large) 0px;
  }
}
