.whitespace-pre {
  white-space: pre;
}

.clickable {
  cursor: pointer;
}

/* ---------- ALIGNMENT ---------- */

.center,
.center-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.push-left {
  margin-right: auto;
}

.push-right {
  margin-left: auto;
}

.push-down {
  margin-top: auto;
}

.stack {
  display: flex;
  flex-direction: column;
}

.inline {
  display: inline-flex;
}

.no-wrap {
  flex-wrap: nowrap;
}

.full-width,
.full-width a {
  width: 100%;
}

.full-width a span {
  width: auto;
}

.full-height {
  height: 100%;
}

.full-width-mobile-only {
  width: initial;
}

/* ---------- SPACING ---------- */

.margin-none {
  margin: 0;
}
.margin-small {
  margin: var(--spacing-small);
}
.margin-medium {
  margin: var(--spacing-medium);
}
.margin-large {
  margin: var(--spacing-large);
}
.margin-xlarge {
  margin: var(--spacing-xlarge);
}
.margin-xxlarge {
  margin: var(--spacing-xxlarge);
}

.margin-medium-vertical {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}
.margin-large-vertical {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}
.margin-xlarge-vertical {
  margin-top: var(--spacing-xlarge);
  margin-bottom: var(--spacing-xlarge);
}

.margin-medium-horizontal {
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
}
.margin-large-horizontal {
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
}

.padding-small {
  padding: var(--spacing-small);
}
.padding-medium {
  padding: var(--spacing-medium);
}
.padding-large {
  padding: var(--spacing-large);
}
.padding-xlarge {
  padding: var(--spacing-xlarge);
}
.padding-xxlarge {
  padding: var(--spacing-xxlarge);
}

/* ---------- LAYOUT ---------- */

.mobile-only {
  display: none;
}

.hidden {
  display: none !important;
}

.hidden-mobile-only {
  display: flex;
}

/* ---------- PRESENTATION ---------- */

.shadow {
  box-shadow: var(--shadow);
}
.no-shadow {
  box-shadow: none;
}

.round {
  border-radius: var(--roundness);
}

.border {
  border: var(--border);
}

/* ---------- COLOR ---------- */

.primary {
  color: var(--primary);
}

/* ---------- TEXT ---------- */

.title {
  margin-bottom: var(--spacing-small);
}

.subtitle {
  margin: var(--spacing-small) 0px var(--spacing-large) 0px;
  font-family: var(--font-family-subtext);
  font-weight: 400;
  font-size: var(--font-size-subheading);
  font-style: italic;
  color: var(--subtext);
}

.font-size-subheading {
  font-size: var(--font-size-subheading);
}

.capitalize {
  text-transform: capitalize;
}

.max-lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.max-lines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ---------- BUTTON ---------- */

.button {
  margin-top: var(--spacing-large);
}
.button a span {
  border-radius: var(--roundness);
  text-transform: uppercase;
  text-align: center;
  border: var(--border);
  padding: var(--spacing-medium) var(--spacing-large);
  display: block;
  width: 82%;
  line-height: 200%;
}
.button:hover a span {
  color: var(--background);
  background-color: var(--primary);
}
.button.full-width a span {
  width: auto;
}

/* ---------- SPLIT <HR/> ---------- */

.line {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
  display: inline-block;
  vertical-align: middle;
}

.outer-line {
  width: 50%;
  border-bottom: 4px solid var(--subtext);
  opacity: 0.1;
}

/* ---------- IMAGE ---------- */

/* TO USE: Set the height prop on the img element */
.responsive-crop {
  width: 100%;
  object-fit: contain;
}

/* ---------- RESPONSIVE OVERRIDES ---------- */

@media (max-width: 600px) {
  .mobile-only {
    display: flex;
  }

  .hidden-mobile-only {
    display: none;
  }

  .full-width-mobile-only {
    width: 100%;
  }

  .center-responsive {
    flex-direction: column;
  }

  .button a span {
    width: auto;
  }

  .max-lines-2,
  .max-lines-3 {
    -webkit-line-clamp: unset;
  }

  .responsive-crop {
    object-fit: cover;
  }
}

/* ---------- PRINT / PDF ---------- */

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: flex;
  }

  .hidden-print-only {
    display: none;
  }
}

@page :first {
  margin-top: 0in;
}

@page {
  margin-top: 0.75in;
  margin-bottom: 0.5in;
}
