---
title: Oops! Not Found
url: /404.html
layout: base.vto
---

<h1 class="title">Oh boy...</h1>
<p class="subtitle">Whatever you were looking for is on an indefinite vacation - sorry!</p>

<div class="flex justify-center items-center my-16">
  <a class="text-lg text-primary font-bold" href="/">← Go back home</a>
</div>
