@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui";

:root {
  --color-base-100: #fff;
  --color-base-200: #fbfaf3;
  --color-base-300: oklch(91% 0.018 78.24);
  --color-base-content: oklch(38.84% 0.0444 44.12);
  --color-primary: #ffbc51;
  --color-primary-content: oklch(41% 0.112 45.904);
  --color-secondary: oklch(27.12% 0.188 264.052);
  --color-secondary-content: oklch(88% 0.059 254.128);
  --color-accent: #a673e6;
  --color-accent-content: oklch(28% 0.141 291.089);
  --color-neutral: oklch(38.84% 0.044 44.12);
  --color-neutral-content: oklch(99% 0.01 78.24);
  --color-info: #55cee0;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #94cc6f;
  --color-success-content: oklch(39% 0.095 152.535);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ff7a5c;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;

  /* ---------- PAGEFIND ---------- */
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--color-primary);
  --pagefind-ui-text: var(--color-base-content);
  --pagefind-ui-background: transparent;
  --pagefind-ui-border: var(--color-base-300);
  /* --pagefind-ui-tag: <color> */
  --pagefind-ui-border-width: 4px;
  /* --pagefind-ui-border: var(--color-primary); */
  --pagefind-ui-border-radius: var(--radius-field);
  /* --pagefind-ui-image-border-radius: 8px; */
  /* --pagefind-ui-image-box-ratio: 3 / 2; */
  /* --pagefind-ui-font: var(--font-family-heading); */
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark light;
    --background: #363530;
    --background-contrast: #44423c;
    --text: #e5e0c1;
    --subtext: #b2af97;
    --divider: rgba(179, 175, 151, 0.25);
    --shadow-hover: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  }
}

.pagefind-ui__search-input {
  @apply !border-primary focus:outline-none;
}

.title {
  @apply mt-24 mb-4 text-center text-4xl font-black;
}
.subtitle {
  @apply mb-12 text-center text-lg font-light text-base-content/80 italic font-serif;
}

/* ---------- TAILWIND ---------- */

.link-hover {
  @apply hover:underline-offset-[0.3rem] hover:decoration-4;
}

/* ---------- PROSE ---------- */

.prose :is(h1, h2, h3, h4, h5, h6) a {
  @apply no-underline font-black;
}
.prose :is(h1, h2, h3, h4, h5, h6):hover::before {
  @apply opacity-50 inline-block whitespace-pre no-underline;
  content: "#  ";
}
.prose h2:hover::before {
  @apply  -ml-6.5;
}
.prose h3:hover::before {
  @apply  -ml-5.5;
}
.prose :is(h4, h5, h6):hover::before {
  @apply  -ml-4.5;
}
.prose blockquote {
  @apply border-l-4 border-success pl-4 ml-0 italic font-black text-2xl text-success text-pretty;
}
.prose li::marker {
  @apply text-primary font-bold;
}
.prose ul li::marker {
  @apply text-xl;
}

/* ---------- CALLOUTS ---------- */

.callout {
  @apply border-l-4 border-info pl-4 ml-0 mt-10 text-info-content;
}
.callout li::marker {
  @apply text-info;
}
.callout strong {
  @apply text-info-content;
}
.callout hr {
  @apply my-6
}
.callout .callout-title {
  @apply flex items-center gap-3 text-info font-bold text-lg ml-1;
}
.callout .callout-title svg {
  @apply size-4;
}