---
layout: base.njk
ogImage: joy
---
<h1 class="title">Lead with Joy</h1>
<p class="subtitle">Tools and insights to help engineering leaders change how we work, together.</p>
<img class="margin-large-vertical responsive-crop" src="/img/joy.png" alt="Lead with Joy logo" height="230px"/>
<p>
  There isn't a clear point in time when we can declare we are "officially grown up", and the same is true for leadership.
  <br/>
  No title or tenure makes you a leader.
  <em>You're a leader when people start to lean on you</em> - ready or not.
  <br/>
  This project is for those in (or aspiring to be in) that position as they learn to lead in an authentic, sustainable way.
</p>

<h1 class="title">Listen to the Podcast</h1>
<p class="subtitle">Prefer to soak up tidbits while commuting or walking the dog? <br/> Grab the pod and live your best life.</p>
<div class="podcast-links center-responsive margin-xlarge-vertical">
  <a href="{{ metadata.links.podcast.apple }}">
    <span class="tag accent-purple">Apple Podcasts</span></a>
  <a href="{{ metadata.links.podcast.spotify }}">
    <span class="tag accent-green">Spotify</span></a>
  <a href="{{ metadata.links.podcast.rss }}">
    <span class="tag accent-blue">Web Player &nbsp;/&nbsp; RSS Feed</span></a>
</div>

<h1 class="title">Categories</h1>
<p class="subtitle">The same basic ideas, but different shapes and sizes.</p>

<div class="cards small center">
  {{ comp.card({ title: "Crash Courses", icon: "crash-course", url: "/tags/crash-course/" }) | safe }}
  {{ comp.card({ title: "Playbooks", icon: "playbook", url: "/tags/playbook/" }) | safe }}
  <div class="break-on-wrap"></div>
  {{ comp.card({ title: "Guides", icon: "guide", url: "/tags/guide/" }) | safe }}
  {{ comp.card({ title: "Deep Dives", icon: "deep-dive", url: "/tags/deep-dive/" }) | safe }}
</div>

<h1 class="title">Search All Posts</h1>
<p class="subtitle">For the people who know what they are looking for. &nbsp;Must be nice.</p>
<div class="subtitle" id="search"></div>

<h1 class="title">Recent Additions</h1>
<p class="subtitle">Some things I've been thinking on lately.</p>

<div class="cards stack">
  {%- for post in search.pages("type=crash-course|playbook|deep-dive|guide", "date=desc", 10) -%}
    {{ comp.card({ title: post.title, description: post.description, icon: post.type, url: post.url }) | safe }}
  {%- endfor -%}
</div>

<p class="margin-xlarge">
  <em>Lead with Joy</em> is a love letter to all the wonderful people
  <br/>I've gotten to coach, manage, and mentor over the years.
  <br/>
  I hope it keeps you company on your many adventures ahead.
</p>