---
layout: base.vto
---
<h1 class="text-center text-3xl font-bold my-32">Search the Site</h1>
<p class="text-center text-subtext font-normal text-lg italic my-2 mb-8">Looking for something? Look no further!</p>

<div id="search"></div>
